@import "tailwindcss";

.navbar {
  display: flex;
  justify-content: space-evenly;
}

form {
  background-color: #fff;
  max-width: 600px;
  margin: 60px auto 0;
  padding: 30px;
}

div {
  margin-bottom: 20px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
}

input[type="text"]:focus,
textarea:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
}

textarea {
  resize: vertical;
  min-height: 150px;
}

button {
  background-color: #6c63ff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}